<div class="container">
  <div id="welcome" class="sixteen columns alpha omega">
    <div id="welcome_inner">
      <h2>Legal</h2>
      <p>Terms & Conditions and Privacy Statment</p>
    </div>
    <div id="welcome_form">
      <p>
        <img src="/ex_pin.png">
        We don't have any terms & conditions and will always share your information with anyone who asks for it.
      </p>
      </p>

    </div>
  </div>

</div> <!-- closes .container -->
