<div class="container">
  <div id="welcome" class="sixteen columns alpha omega">
    <div id="welcome_inner">
      <h2>Press</h2>
      <p>Help us spread the word. Contact us for any enquiries.</p>
    </div>
    <div id="welcome_form">
      <p>
        <img src="/ex_pin.png">
        Hi! We are the Nico, Nikolas and Clems. We are the founders of Cabinet. Cabinet allows you to safely store the name and password of the different wifi networks you've accessed. For any enquiries, plase contact us und press@cabinet.com
      </p>

    </div>
  </div>

</div> <!-- closes .container -->
