/*------------------------------------*/
/*------------------------------------*/
/*BODY AND TOP STUFF*/

body {
  background: url('bg2.jpg');
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;  /*the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin-top: 0em;
  margin-bottom: 0em;
}

h1 a {
background: url('logo3.svg') no-repeat;
width: 187.75px;
height: 59px;
margin: auto;
display: inline;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
float:left;
margin-top: 15px;
margin-bottom: 15px;
}

#up-left {
  float: left;
  display: inline;
  margin-left: 20px;
}

#up-right {
  float: right;
  display: inline;
  margin-right: 25px;
  margin-top: 5px;
  color: #f16c2e;
  text-align: right;
}

#up-right a:visited {
  color: #666;
}

#up-right a:hover {
  color: #000;
}

#signup_corner_btn {
  text-align: center;
  color: white;
  padding: 10px;
  background-color: #f16c2e;
  border: none;
  font-weight: 300;
  margin-top: 20px;
  margin-right: 10px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 17px;
}

a:visited#signup_corner_btn, a:hover#signup_corner_btn {
  color: white;
}

#header {
  background: url("http://i.imgur.com/nlaNQOK.png");
  background-repeat: repeat;
  height: 90px;
}




/*------------------------------------*/
/*------------------------------------*/
/*FOOTER STUFF*/


/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
  padding-bottom: 40px;}

#footer {
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  clear: both;
  /*background-color: white;*/
  background: url("http://i.imgur.com/nlaNQOK.png");
  background-repeat: repeat;
} 

#footer p {
  text-align: left;
  /*max-width: 960px;*/
  margin: 0 auto;
  padding-top: 12px;
  color: gray;
  margin-left: 25px;
}

#footer a {
  color: gray;
  margin-right: 10px;
  margin-left: 10px;
}

#footer a:first-child {
  margin-left: 0px;
}

#footer a:last-child {
  margin-right: 0px;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->

*/





/*------------------------------------*/
/*------------------------------------*/
/*LANDING PAGE STUFF*/


#welcome_inner, #edit_inner {
  max-width: 520px;
  background-color: rgba(241, 108, 46, 0.92);
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  font-weight: 400;
  color: white;
  /*color: #1f8c8c;*/  
  padding: 0px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

#welcome_inner p, #edit_inner p {
  margin: 0px;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
}

#welcome_form {
  max-width: 520px;
  background-color: rgba(255, 255, 255, 0.92);
  margin: 0 auto;
  padding-bottom: 58px;
}

#welcome_form p {
  clear: right;
  padding: 20px 20px 5px 20px;
}

#welcome_form img {
  margin-right: 10px;
  display: inline;
  float: left;
}

#signup_form {
  padding: 0px 20px 20px 20px;
}

#signup_form h2 {
  padding-top: 10px;
  font-weight: 400;
  color: #1f8c8c;  
  text-align: left;
}

#signup_form table td {
  padding: 15px 20px 0px 0px;
}

#signup_form table tr:first-child td {
  padding-top: 5px;
}

#signup_form table td:first-child {
  width: 30%;
}

#signup_submit {
  color: #b3fff1;
  padding: 10px;
  background-color: #1f8c8c;
  /*background-color: #1f8c8c;*/
  /*border: solid 1px #1f8c8c;*/
  /*border: solid 1px gray;*/
  border: none;
  font-weight: 300;
  margin-top: 20px;
  margin-right: 15px;
  float: left;
}

#go_register {
  display: inline;
  float: right;
}

#go_register p {
  margin-right: 0px;
  padding-right: 10px;
}


#go_register a, #go_register a:hover, #go_register a:visited {
  font-weight: 400;
  color: #1f8c8c;
}

#map-canvas {
  width: 100%;
  min-height: 680px;
}


#fb_btn img:last-child {
  float: left;
  height: 37px;
  display: inline;
  margin-top: 20px;
  margin-right: 0px;
}

#edit_user_form {
  max-width: 520px;
  background-color: rgba(255, 255, 255, 0.92);
  margin: 0 auto;
  padding: 0px 5px 20px 5px;
}

#edit_user_form p, #edit_user_form form {
  padding: 20px;
}

#edit_user_form table {
  border-collapse: collapse;
}

#edit_user_form tr {
  border-bottom: 8px solid rgba(255, 255, 255, 0.92);
}


#edit_user_form p {
  margin-top: 30px;
  padding-bottom: 0px;
  color: #1f8c8c;
}

#edit_user_form > form.button_to {
  padding-bottom: 0px;
  padding-top: 0px;
}

#edit_user_form > a {
  display: inline;
  float: right;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #f16c2e;
  border: none;
  padding: 8px 5px 5px 5px;
  margin-right: 20px;
}

#edit_user_form .update_user_btn{
  display: inline;
  float: left;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #f16c2e;
  border: none;
  padding: 8px 5px 5px 5px;
  margin-top: 15px;
}

#edit_user_form #delete_user_btn {
  display: inline;
  float: left;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  color: white;
  background-color: #f16c2e;
  border: none;
  padding: 8px 5px 5px 5px;
}

#edit_user_form table {
  width: 100%;
}





/*------------------------------------*/
/*------------------------------------*/
/*INDEX STUFF*/

/*.hidden {
  display: none;
}*/

.extruder.right .flap .flapLabel {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  color: white;
  border-right: none;
  height: 96px;
}

.extruder.bottom .flap .flapLabel {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;
  color: white;
  border: none;
  font-size: 17px;
}

#extruderBottom > div > div.flap > span {
position: absolute;
top: 10px;
left: 78px;
}

.extruder.right .flap{
  font-family: 'Alegreya Sans', sans-serif;
  height: 76px;
}

.extruder.right .flap span {
  font-family: 'Alegreya Sans', sans-serif;
  height: 100%;
}

#extruderRight > div > div.flap > span > object {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400px;
  height: 72px;
  font-size: 17px;
}


.extruder.bottom .flap{
  font-family: 'Alegreya Sans', sans-serif;
}

.side_list {
  color: white;
}

#extruderRight {
  font-family: 'Alegreya Sans', sans-serif;
}

#extruderRight .content {
  overflow: scroll;
}

#extruderRight > div > div.flap > div {
  height: 96px;
}

#loc_net_list {
  padding: 10px;
}

#chat_window {
  font-family: 'Alegreya Sans', sans-serif;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
}

.extruder .text {
  font-family: 'Alegreya Sans', sans-serif;
  background: #1f8c8c;
  border-bottom: none;
}

#current_user {
  color: #f16c2e;
}

.net_info {
  background: rgba(255, 255, 255, 1);
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

#edit_net_btn, #delete_net_btn, #share_net_btn, #cancel_add_btn, #cancel_edit_btn, #edit_from_list_btn, #delete_from_list_btn {
  color: white;
  padding: 8px;
  background-color: #f16c2e;
  border: none;
  font-weight: 300;
  margin-top: 20px;
  margin-right: 10px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
}

.boldify {
  font-weight: 400;
  color: #1f8c8c;
}

.boldify a:hover, .boldify a:visited {
  font-weight: 400;
  color: #1f8c8c;
}

#loc_net_list table td {
  padding: 15px 20px 0px 0px;
}

#chat_window {
  max-height: 400px;
  overflow: scroll;
}

#chat_window table {
  width: inherit;
}

#other_user {
  background-color: #E9EDF2;
}

#chat_window table {
  border-collapse: collapse;
  width: 100%;
}

#chat_window table td {
  padding: 5px;
}

#chat_window table tr {
  border-bottom: 8px solid white;
}

#chat_enter_text {
  margin-top: 10px;
}

#chat_enter_text .chat_input{
  padding: 8px 5px 5px 5px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  width: 80%;
  display: inline;
  float: left;
  margin-right: 10px;
}

#chat_submit input{
  display: inline;
  float: right;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  color: white;
  background-color: #f16c2e;
  border: none;
  padding: 8px;
  padding-top: 9px;
  width: 14%;
}

#loc_net_list table tr:first-child td {
  padding-top: 5px;
}

#loc_net_list table td:first-child {
  width: 30%;
}

.fromlist_share_email_field{
  width: 65%;
  padding: 8px;
  display: inline;
}

#fromlist_sharingStuff .start_share {
  text-align: center;
  color: white;
  padding: 8px;
  background-color: #f16c2e;
  border: none;
  font-weight: 300;
  float: right;
  display: inline;
  font-weight: 300;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
}


#search-stuff {
    position: absolute;
    left: 90px; 
    top: 110px;
    width: 100%;
}
#search_btn {
  margin-left: 10px; 
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  color: white;
  background-color: #f16c2e;
  border: none;
  padding: 11px 8px 10px 8px;
  display: inline;
  float: left;
  width: 70px;
}
.search_field {
  padding: 10px 8px 8px 8px;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  width: 30%;
  display: inline;
  float: left;
}

#list_search_field {
  width: 85%;
  padding: 8px;
  margin: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
}

#content_box {
  position: absolute;
  top: 120px;
  left: 20%;
  right: 20%;
}

#edit_content_box {
  position: absolute;
  top: 120px;
  left: 20%;
  right: 20%;
}

.hidden {
  display: none;
}

#loc_form {
  max-width: 520px;
  background-color: rgba(255, 255, 255, 0.92);
  margin: 0 auto;
}

#loc_form p {
  clear: right;
  padding: 20px 20px 5px 20px;
}

#loc_form img {
  margin-right: 10px;
  display: inline;
  float: left;
}

#loc_form form {
  padding: 20px;
  width: 100%;
}

#loc_form h2 {
  padding-bottom: 15px;
  font-weight: 400;
  color: #f16c2e; 
  text-align: left;
}

#loc_form table {
  width: 100%;
}

#loc_form table td {
  padding: 15px 20px 0px 0px;
}

#loc_form table tr:first-child td {
  padding-top: 5px;
}

#loc_form table td:first-child {
  width: 30%;
}

#add_net_btn {
  color: #b3fff1;
  padding: 8px;
  background-color: #1f8c8c;
  border: none;
  font-weight: 300;
  margin-top: 20px;
}

#loader {
  position: absolute;
  top: 40%;
  left: 46%;
  width: 100px;
  height: 100px;
  padding: 5px;
}











/*------------------------------------*/
/*------------------------------------*/
/*GOOGLE MAPS INFO WINDOW STUFF*/


#info_window{
  width: 350px;
  padding-bottom: 10px;
}

.gm-style .gm-style-iw, .gm-style .gm-style-iw a, .gm-style .gm-style-iw span, .gm-style .gm-style-iw label, .gm-style .gm-style-iw div {
  max-height: 310px;
  padding: 0px 10px 5px 5px;
  overflow-y: scroll;
  overflow-x: visible;
}

.gm-style-iw div {
  overflow:visible !important;
}

#info_window > p > a.show_add_network_form {
  color: white;
  padding: 8px;
  padding-top: 9px;
  background-color: #f16c2e;
  border: none;
  font-weight: 300;
}

#add_net_p {
  padding-bottom: 10px;
  padding-top: 10px;
}

#info_window p a:hover, #info_window p a:visited{
  color: #000;
}

#info_window > p > a.show_add_network_form:hover {
  color: white;
}

#info_window > p > a.show_add_network_form:visited {
  color: white;
}

#info_col1 p {
  display: inline;
  float: left;
  margin-right: 10px;
  line-height: 1.8em;
}

#info_col1 {
  display: inline;
  float: left;
}

#info_col2 p {
  display: inline;
  float: left;
  clear: right;
  line-height: 1.8em;
}

#info_col2 {
  float: left;
  clear: right;
}

#info_buttons {
  display: block;
  clear: both;
  width: 100%;
}

#info_buttons p a {
  color: #b3fff1;
  background-color: #1f8c8c;
  padding: 8px;
  padding-top: 9px;
  border: none;
  font-weight: 300;
  margin-left: 10px;
}

#info_buttons p a:first-child {
  margin-left: 0px;
}

#info_buttons p a:hover, #info_buttons p a:visited {
  color: #b3fff1;
}

#infoWindow_sharingStuff {
  width: 100%;
  padding-top: 10px;
}

.share_email_field {
  width: 72%;
  padding: 8px;
  font-size: 14px;
}

hr {
  border: 1px dashed #f16c2e;
}



















/*------------------------------------*/
/*------------------------------------*/
/*MEDIA QUERIES STUFF*/

/*MOBILE- BOTH*/
@media only screen and (max-width: 767px) {
  input {
    width: 100%;
  }

  #signup_form table td {
  padding: 15px 0px 0px 0px;
  }

  #signup_form table td:first-child {
  width: 40%;
  }
  #signup_submit {
    margin-top: 30px;
  }
  #signup_form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  #welcome_form {
    padding-bottom: 125px;
    margin-bottom: 20px;
  }
  #chat_window {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}


/*MOBILE- PORTRAIT*/
@media only screen and (max-width: 479px) {
  #header {
    height: 200px;
  }
  #up-right {
    max-width: 350px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    color: #f16c2e;
    text-align: center;
    float: none;
    clear: both;
  }
  #up-right p {
    line-height: 2.6em;
  }
  #signup_corner_btn {
    display: block;
    padding: 7px 50px;
  }
  #up-left {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
  }
  #welcome_form {
    padding-bottom: 0px;
    margin-bottom: 20px;
  }
  h1, h1 a {
    text-align: center;
    margin-left: 7%;
    margin-right: 5%;
  }
  h1 a {
    padding-bottom: 5px;
  }

  #fb_btn img:last-child {
    max-width: 175px;
    margin-left: 16%;
  }
  #go_register {
    display: block;
    clear: both;
    float: none;
    text-align: center;
    }

  #search-stuff {
    position: absolute;
    left: 23%; 
    right: 20%;
    top: 220px;
    width: 100%;
  }
  .search_field {
    width: 40%;
  }
  #chat_enter_text .chat_input{
    width: 71%;
  }
  #chat_submit input{
    width: 20%;
  }
  #map-canvas {
    width: 100%;
    min-height: 350px;
  }
  td#chatcolumn1 {
  max-width: 40px;
  overflow: auto;

  }
  td#chatcolumn2 {
  max-width: 60px;
  }
}

/*MOBILE- LANDSCAPE*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #up-right {
    float: right;
    display: inline;
    margin-right: 25px;
    margin-top: 5px;
    color: #f16c2e;
    text-align: right;
  }
  #map-canvas {
    width: 100%;
    min-height: 450px;
  }
  #search-stuff {
    position: absolute;
    left: 90px; 
    top: 110px;
    width: 100%;
  }
  #search_btn {
    margin-left: 10px; 
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    color: white;
    background-color: #f16c2e;
    border: none;
    padding: 11px 8px 10px 8px;
    display: inline;
    float: left;
    width: 70px;
  }
  .search_field {
    padding: 10px 8px 8px 8px;
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    width: 40%;
    display: inline;
    float: left;
  }
  td#chatcolumn1 {
  max-width: 50px;
  overflow: auto;
  }
  td#chatcolumn2 {
  max-width: 80px;
  }

}







