/*------------------------------------*/
/*------------------------------------*/
/*BODY AND TOP STUFF*/

body {
  background: url('bg2.jpg');
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;  /*the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin-top: 0em;
  margin-bottom: 0em;
}

h1 a {
background: url('logo2.png') no-repeat;
width: 250px;
height: 59px;
margin: auto;
display: inline;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
float:left;
margin-top: 15px;
margin-bottom: 15px;
}

#up-left {
  float: left;
  display: inline;
  margin-left: 20px;
}

#up-right {
  float: right;
  display: inline;
  margin-right: 25px;
  margin-top: 15px;
  color: #f16c2e;
}

#up-right a {
  color: #f16c2e;
  margin-right: 10px;
  /*margin-left: 10px;*/
}

/*#up-right a:first-child {
  margin-left: 0px;
}

#up-right a:last-child {
  margin-right: 0px;
}*/

#header {
  /*background-color: white;*/
  background: url("http://i.imgur.com/nlaNQOK.png");
  background-repeat: repeat;
  height: 90px;
}




/*------------------------------------*/
/*------------------------------------*/
/*FOOTER STUFF*/


/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

/*#main {
  overflow:auto;*/
/*  min-height: 100%;*/
/*  min-height: 400px;
  max-height: 600px;
  padding-bottom: 40px;
}  */

/*#map-canvas {
  width: 100%;
  height: inherit;
}*/

#main {overflow:auto;
  padding-bottom: 40px;}

#footer {
  position: relative;
  margin-top: -40px; /* negative value of footer height */
  height: 40px;
  clear: both;
  /*background-color: white;*/
  background: url("http://i.imgur.com/nlaNQOK.png");
  background-repeat: repeat;
} 

#footer p {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 12px;
  color: gray;
}

#footer a {
  color: gray;
  margin-right: 10px;
  margin-left: 10px;
}

#footer a:first-child {
  margin-left: 0px;
}

#footer a:last-child {
  margin-right: 0px;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->

*/





/*------------------------------------*/
/*------------------------------------*/
/*LANDING PAGE STUFF*/


#welcome_inner {
  max-width: 520px;
  background-color: rgba(241, 108, 46, 0.92);
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  font-weight: 400;
  color: white;
  /*color: #1f8c8c;*/  
  padding: 0px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

#welcome_inner p {
  margin: 0px;
  margin-bottom: 10px;
  color: white;
  font-weight: 200;
}

#welcome_form {
  max-width: 520px;
  background-color: rgba(255, 255, 255, 0.92);
  margin: 0 auto;
}

#welcome_form p {
  clear: right;
  padding: 20px 20px 5px 20px;
}

#welcome_form img {
  margin-right: 10px;
  display: inline;
  float: left;
}

#signup_form {
  padding: 0px 20px 20px 20px;
}

#signup_form h2 {
  padding-top: 10px;
  font-weight: 400;
  color: #1f8c8c;  
  text-align: left;
}

/*#signup_form table tr {
  padding: 10px 0px;
}*/

/*#signup_form table {
  max-width: 320px;
  margin: 0 auto;
}*/

#signup_form table td {
  padding: 15px 20px 0px 0px;
}

#signup_form table tr:first-child td {
  padding-top: 5px;
}

#signup_form table td:first-child {
  width: 30%;
}

#signup_submit {
  color: #b3fff1;
  padding: 8px;
  background-color: #1f8c8c;
  /*background-color: #1f8c8c;*/
  /*border: solid 1px #1f8c8c;*/
  /*border: solid 1px gray;*/
  border: none;
  font-weight: 300;
  margin-top: 20px;
}

/*#map-canvas {
  width: 100%;
  height: 83%
}*/

#map-canvas {
  width: 100%;
  min-height: 500px;
}





/*------------------------------------*/
/*------------------------------------*/
/*INDEX STUFF*/

/*.hidden {
  display: none;
}*/

.extruder.right .flap .flapLabel {
  background: #1f8c8c;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  color: white;
  border-right: none;
}

.extruder.right .flap{
  font-family: 'Alegreya Sans', sans-serif;
}

.side_list {
  color: white;
}

#extruderRight {
  font-family: 'Alegreya Sans', sans-serif;
}

#extruderRight .content {
  overflow: scroll;
}

#loc_net_list {
  padding: 10px;
}

.extruder .text {
  background: #1f8c8c;
}

.net_info {
  background: rgba(255, 255, 255, 1);
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

#edit_btn, #delete_btn {
  /*color: #b3fff1;*/
  color: white;
  padding: 8px;
  /*background-color: #1f8c8c;*/
  background-color: #f16c2e;
  border: none;
  font-weight: 300;
  margin-top: 20px;
  margin-right: 10px;
}

.boldify {
  font-weight: 400;
  color: #1f8c8c;
}

#loc_net_list table td {
  padding: 15px 20px 0px 0px;
}

#loc_net_list table tr:first-child td {
  padding-top: 5px;
}

#loc_net_list table td:first-child {
  width: 30%;
}















/*------------------------------------*/
/*------------------------------------*/
/*MEDIA QUERIES STUFF*/

@media only screen and (max-width: 767px) {
  input {
    width: 100%;
  }

  #signup_form table td {
  padding: 15px 0px 0px 0px;
  }

  #signup_form table td:first-child {
  width: 40%;
  }
  #signup_submit {
    margin-top: 30px;
  }
  #signup_form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
/*  #map-canvas {
  width: 100%;
  min-height: 400px;
  }*/
}