
<br>
<%= image_tag attachments['pin'].url %>
<h1>Congratulations!</h1>
<h2>We pinned you down and now you are ready to go</h2>

<p>Start by saving <%= link_to 'new networks', user_session_url %> to your Cabinet account!</p>
<p>And please help us spread the word and get your friends to sign up too.</p>
<br>
<br>

<p>Thank you for joining</p>
<h2>Your Cabinet Team</h2>

<%= image_tag attachments['logo2'].url %>





