
<br>
<%= image_tag attachments['pin'].url %>
<h1>A new network was added to Cabinet!</h1>
<h2>Login to <%= link_to 'Cabinet', user_session_url %> to check out the new network!</h2>
<br>
<br>

<p>Have a great day!</p>
<h2>Your Cabinet Team</h2>

<%= image_tag attachments['logo3'].url %>
